#game
{

    display: block;
    margin: 0 auto;


}



body{

    display: flex;
    justify-content: center;

    padding: 100px;
}



#music222
{

    display: block;
    margin: 0 auto;

}
